.btn {
  width: 300px;
  font-weight: 300;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  padding: 0 30px;
  margin-bottom: 8px;
  transition: all ease 0.3s;
}

.btn:last-child {
  margin-bottom: 0;
}

.btn:hover {
  color: #fff;
  background-color: #EB3300;
}

